<div id="bicycles-list">
  <% @bicycles.each do |bicycle| %>
    <h2><%= link_to bicycle.name, bicycle_path(id: bicycle.id) %></h2>
    <p><%= truncate(bicycle.description, length: 300) %></p>
    <%= image_tag bicycle.bicycle_photo.url, style: 'width: 300px' if bicycle.bicycle_photo.present? %>
    <hr>
  <% end %>
</div>
